   /* FONTS & RESET */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
   @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

   .mont {
       font-family: "Montserrat", sans-serif;
       letter-spacing: -.8px;
   }

   .upper {
       text-transform: uppercase;
   }

   /* BODY */
   body {
       background-color: #0e0e0e;
       color: #fff;
       font-family: "Pretendard Variable", Pretendard, sans-serif;
       font-weight: 600;
       transition: 0.5s background-color;
       -webkit-font-smoothing: antialiased;
   }

   body.dark {
       background-color: #ffffff;
       color: #0e0e0e;
   }

   /* 스크린 리더용 숨김 텍스트*/
   .blind {
       position: absolute;
       width: 1px;
       height: 1px;
       padding: 0;
       margin: -1px;
       overflow: hidden;
       clip: rect(0, 0, 0, 0);
       white-space: nowrap;
       border: 0;
   }

   /* SCROLLBAR */
   ::-webkit-scrollbar {
       width: 12px;
   }

   ::-webkit-scrollbar-track {
       background: #1a1a1a;
   }

   ::-webkit-scrollbar-thumb {
       background: #b3ec11;
   }

   /* CUSTOM CURSOR */
   .custom-cursor {
       position: fixed;
       top: 0;
       left: 0;
       z-index: 10000;
       width: 20px;
       height: 20px;
       pointer-events: none;
       will-change: transform, opacity;
       transform: translate(-50%, -50%);
       transition: opacity 0.2s;
   }

   .custom-cursor img {
       display: block;
       width: 100%;
       height: 100%;
       pointer-events: none;
       user-select: none;
   }